.Card {
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 80px;
    transition: box-shadow 0.3s ease; /* Agregado para una transición suave del contorno */
  }
  
  .Card:hover {
    box-shadow: 0 0 10px rgba(238, 66, 102, 0.5); /* Agregado el contorno al pasar el cursor */
  }
.CardContainer{
    margin-bottom: 70vh;
}
.ProjectsP{
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}
.ProjectsH{
    color: #EE4266;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
}
.ProjectsH1{
    color: #EE4266;
    font-size: 30px;
}
.Card{
    cursor: pointer;
}
@media only screen and (max-width: 990px) {
    
}